@using System.Reflection
@{
    ViewBag.Title = "Home Page";
    string? mvcVersion = typeof(Microsoft.Extensions.DependencyInjection.MvcServiceCollectionExtensions)
        .Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
    SiteOptions options = Options.Value;
}
<div class="jumbotron">
    <h1>Martin Costello's API</h1>
    <p class="lead">
        This website is an excercise in the use of ASP.NET Core @Environment.Version.ToString(1) for a website and REST API.
    </p>
</div>
<div>
    <p>
        This website is hosted in <a href="https://azure.microsoft.com" rel="noopener" target="_blank" title="Microsoft Azure">Microsoft Azure</a>
        and the source code can be found on <a href="@options.Metadata?.Repository" rel="noopener" target="_blank" title="This application's GitHub repository">GitHub</a>.
    </p>
    <p>
        It is currently running @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription).
    </p>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2 class="h3">Website</h2>
        <p>My main website.</p>
        <p><a id="link-website" href="@options.Metadata?.Author?.Website" class="btn btn-lg btn-primary" rel="noopener" role="button" target="_blank" title="Visit my website">Visit website »</a></p>
    </div>
    <div class="col-lg-6">
        <h2 class="h3">Blog</h2>
        <p>I occasionally blog about topics related to .NET development.</p>
        <p><a id="link-blog" href="@options.ExternalLinks?.Blog?.AbsoluteUri" class="btn btn-lg btn-primary" rel="noopener" role="button" target="_blank" title="Visit my blog">Visit blog »</a></p>
    </div>
</div>
