@implements IUsesLayout<_Layout, LayoutModel>
@{
    var options = Options.Value;
}
<div class="bg-light mb-4 p-5 rounded-3">
    <div class="container-fluid pt-2">
        <h1 class="display-5 fw-bold">Martin Costello's API</h1>
        <p class="col-md-8 fs-4">
            This website is an exercise in the use of ASP.NET Core @(Environment.Version.ToString(1)) for a website and REST API.
        </p>
    </div>
</div>
<div>
    <p>
        This website is hosted in <a href="https://azure.microsoft.com" rel="noopener" target="_blank" title="Microsoft Azure">Microsoft Azure</a>
        and the source code can be found on <a href="@(options.Metadata?.Repository)" rel="noopener" target="_blank" title="This application's GitHub repository">GitHub</a>.
    </p>
    <p>
        @{
            string? description = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;
            string? version = description?.Split(' ')[^1];
            string releaseUrl = $"https://github.com/dotnet/dotnet/releases/tag/v{version}";
        }
        It is currently running <a href="@(releaseUrl)" target="_blank" rel="noopener">@(description)</a>.
    </p>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2 class="h3">Website</h2>
        <p>My main website.</p>
        <p><a id="link-website" href="@(options.Metadata?.Author?.Website)" class="btn btn-lg btn-primary" rel="noopener" role="button" target="_blank" title="Visit my website">Visit website »</a></p>
    </div>
    <div class="col-lg-6">
        <h2 class="h3">Blog</h2>
        <p>I occasionally blog about topics related to .NET development.</p>
        <p><a id="link-blog" href="@(options.ExternalLinks?.Blog?.AbsoluteUri)" class="btn btn-lg btn-primary" rel="noopener" role="button" target="_blank" title="Visit my blog">Visit blog »</a></p>
    </div>
</div>
@functions {
    public LayoutModel LayoutModel { get; } = new("Home Page");
}
