@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@inject BowerVersions BowerVersions
<!DOCTYPE html>
<html lang="en-gb">
<head prefix="og:http://ogp.me/ns#">
    @{
        string canonicalUri = Context.Request.Canonical();
        string image = ViewBag.MetaImage ?? string.Empty;

        if (!string.IsNullOrEmpty(image))
        {
            image = Url.Content(image);
        }

        var model = MetaModel.Create(
            Config,
            canonicalUri: canonicalUri,
            description: ViewBag.MetaDescription as string,
            imageUri: image,
            imageAltText: ViewBag.MetaImageAltText as string,
            robots: ViewBag.MetaRobots as string,
            title: ViewBag.Title as string);

        await Html.RenderPartialAsync("_Meta", model);
        await Html.RenderPartialAsync("_Links", canonicalUri);
    }
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-flash\b/, '');
        }
        else {
            top.location = self.location;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="link-home" asp-controller="Home" asp-action="Index" class="navbar-brand">@Config["Site:Metadata:Domain"]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="link-docs" href="@Config["Site:Api:Documentation:Location"]">Documentation</a></li>
                    <li><a id="link-blog" href="https://blog.martincostello.com/" target="_blank">Blog</a></li>
                    <li><a id="link-about" href="https://martincostello.com/home/about/" target="_blank">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @Config["Site:Metadata:Author:Name"] @DateTimeOffset.UtcNow.Year | <a href="http://status.martincostello.com/" target="_blank">Site Status &amp; Uptime</a></p>
        </footer>
    </div>
    <environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-@(BowerVersions["jquery"]).min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/@BowerVersions["bootstrap"]/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
    <environment names="Staging,Production">
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@Config["Site:Analytics:Google"]', 'auto');
        ga('send', 'pageview');
    </script>
    </environment>
</body>
<!--
    Datacenter: @Config["Azure:Datacenter"]
    Instance:   @Environment.MachineName
-->
</html>
